node_modules
.env
env.txt
tests
Material
TestApp
testImg
create.json
data.json
payload.json
status.json
todos.md
test.js
extract.js
oldGit
mock
queue/queue.js
queue/setupEvent.js
validator
worker
models/mockInputData.json

