extends layout

block content
  h1= title
  p Welcome to the VictorLe Solutions AI website!
  footer
  .container
    p Copyright &copy; #{new Date().getFullYear()} VictorLe Solutions AI. All rights reserved.`